/* global */
html {height:100%; -webkit-text-size-adjust:100%;font-family:Helvetica,"STHeiti STXihei","Microsoft JhengHei","Microsoft YaHei",Tohoma,Arial;}
body{font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif; height:100%; font-size:12px; background:#faf4f4; color: #999;margin: 0px;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-backface-visibility:hidden;zoom:1;}
ul,ol,li,dl,dt {list-style:none;margin:0;padding:0;border:0;background:none;outline:0;}
input{border: 1px solid #CCCCCC;}
textarea{border: 1px solid #CCCCCC;}
input,textarea,button,button[type=submit]:focus,input[type=button]:focus,input[type=submit]:focus,input[type=button]::-moz-focus-inner{ outline:none;}
input::-moz-focus-inner,button::-moz-focus-inner { border: 0; }
img{padding:0;margin:0; border:0}
img a{padding:0;margin:0; border:0}
img a:hover{padding:0;margin:0; border:0}
hr { width:100%; color:#CCCCCC; height:1px; size:1; noshade:noshade;}
a {border-bottom-color: #cccccc;border-bottom-style: none;COLOR: #888888;text-decoration: none;font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;outline:none;}
a:hover {color: #3c3c3c;text-shadow: 0px 0px;text-decoration: none;}
select{width:60px; color: #666666; font-size: 12px; width:170px; }
ul,li{ list-style-type:none;}
h1, h2, h3{font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;}
.content { padding: 0 0 0 0; width:100%; position: absolute; top: 47px; bottom: 0px; overflow: auto; -webkit-overflow-scrolling: touch; }
.abs{position:absolute;top:0px; left:0px; width:100%}/*主要的内容 用于背景图片前面*/
.width50{width:50%}
.wid60{ width:60%}
.wid70{ width:70%}
.wid80{ width:80%}
.wid90{ width:90%}
.wid100{ width:100%}
.widhei30{width:20px; height:20px}
.mb0{margin-bottom:0px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb0{margin-bottom:0px;}
.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb3{margin-bottom:3px;}
.mb4{margin-bottom:4px;}
.mb5{margin-bottom:5px;}
.mb6{margin-bottom:6px;}
.mb7{margin-bottom:7px;}
.mb8{margin-bottom:8px;}
.mt2{margin-top:2%;}
.mt3{margin-top:3%;}
.mt5{margin-top:5%;}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt10-{margin-top:-10px;}
.mt15-{margin-top:-15px;}
.mt20-{margin-top:-20px;}
.mt25-{margin-top:-25px;}
.mt30-{margin-top:30px;}
.mt10p{margin-top:10%;}
.mt20p{margin-top:20%;}
.mt25p{margin-top:25%;}
.mt30p{margin-top:30%;}
.mt35p{margin-top:35%;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml2-{margin-left:-2px;}
.ml3-{margin-left:-3px;}
.ml5-{margin-left:-5px;}
.ml10-{margin-left:-10px;}
.ml20-{margin-left:-20px;}
.hgt20{height:20%}
.hgt30{height:30%}
.mlr20{margin-right:20px; margin-left:20px}
.mlr10{margin-right:10px; margin-left:10px}
.mlr5{margin-right:5px; margin-left:5px}
.ml20{margin-left:20px;}
.fonts17{font-size:17px;}
.plr10{padding-left:10px; padding-right:10px;}
.plr15{padding-left:15px; padding-right:15px;}
.pt10{padding-top:10px}
.pr0{padding-right:0px}
.r0{right:0}
.pb0{padding-bottom:0px;}
.p0{padding:0px;}
.p10{padding:10px;}
.fl{ float:left}
.whitebg{background-color:#fff;}
.garybg{background-color:#faf4f4;}
.bluebg{background-color:#0D84D8;}
.spinbg{background-color:#F4F3F8;}
.transbg{background-color:transparent;}
.width95{ width:100%}
.height0{ height:0px;}
.height50{ height:50px}
.height70{ height:70px}
.height90{ height:90px}
.height120{ height:120px}
.line{ height:72px; overflow:hidden}
.white{color:#fff;}
.gary{color:#ccc;}
.blue{color:#347eff;}
.red{color:red;}
.green{color:#44CF72}
.black{color:#222}
.deepgary{color:#575C60}
.deepblack{color:#565656}
.orange{ color:#F39710}
.tocenter{ text-align:center}
.toleft{ text-align:left}
.toright{ text-align:right}
.btn-red{background-color: #ff5b90; border-color: #ff5b90; color:#fff;}
.back_img{ background:url(../images/back.png);width:40px;height:40px; left:-2px; top:-8px;position:absolute; background-size:50px 44px;}
.more_img{ background:url(../images/more.png);width:40px;height:40px; left:-2px; top:-8px;position:absolute; background-size:50px 44px;}
.add_img{ background:url(../images/add.png);width:40px;height:40px; position:absolute; background-size:50px 44px;}
.testrun_img{ background:url(../images/run2.png);width:40px;height:40px;position:absolute;  background-size:40px 40px;}
.book_suc_img{background:url(../images/yes.png);width:50px;height:44px; position:absolute; background-size:50px 44px;}
.run_img{ width:45px; height:35px; margin:-17px -5px -12px 0; }
.drive_img{ width:55px; height:35px; margin:-17px -12px -12px 0; }
.testride_img{}
.hp80{ height:80%;}
.w100{width:100%;}
.share_weixin{background:url(../images/fx.png);width:40px;height:40px;  top:-18px;position:absolute; background-size:150px 44px; margin-left:-80px;}
.share_py{background:url(../images/fx.png);width:40px;height:40px;  top:-18px;position:absolute; background-size:150px 44px; margin-left:0px;background-position:-72px 0px; }
.share_weibo{background:url(../images/fx.png);width:40px;height:40px;  top:-18px;position:absolute; background-size:150px 44px; margin-left:-40px;background-position:-36px 0px;}
.share_msg{background:url(../images/fx.png);width:40px;height:40px;  top:-18px;position:absolute; background-size:150px 44px; margin-left:40px;background-position:-108px 0px;}
.order_lable{ font-size:18px; color:#1B2036}
.inner_bub{ border:0px solid #1887D6; color:#1887D6; border-radius:13px; padding:0px 12px; margin:8px 5px; background:#09C856; height:27px; line-height:27px; color:#FFF }/*inner box bubble 行内气泡提醒*/
/*提示框*/
.modal_title{text-align:center; color:#000; font-size:30px;}
.modal_content{font-size:20px; color:#9E9E9E; min-height:150px}
/*提示框*/
.radius_box{background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:5px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
.radius_box{ padding:10px 10%;}
.content_main{padding:0 20px 20px 20px;}
.content_main_tit{margin:10px auto 20px; text-align:center;}
.content_main .form-group{margin-bottom:20px;}
.content_main .form-group .form-control{background-color: #fff; border-color: #eae1e2; color:#bbb; box-shadow: none; height:45px; font-size:16px;}
/*注册登录页*/
.reg-bg{ }
.login{padding:5% 20px 20px 20px;}
.login_tit{margin:10px auto 20px; text-align:center;}
.login .form-group{margin-bottom:20px;}
.login .form-group .form-control{background-color: #fff; border-color: #eae1e2; color:#bbb; box-shadow: none; height:45px; font-size:16px;}
.btn-white{background-color: #fff; border-color: #0E4D79; color:#3E8DCF;}
.btn-blue{background-color: #046EB8; border-color: #0E4D79; color:#fff;}
.btn-green{background-color: #09C856; border-color: #09C856; color:#fff;}
.btn-red:hover{color:#fff;}
.btn-blue:hover{color:#fff;}
.btn-green:hover{color:#fff;}
.mg-top{margin-bottom:45px;}
.chbox-center{ text-align:center; }
.chbox-center .chbox-input{ margin-top:6.5px}
.chbox-center .chbox-txt{ font-size:18px; margin-top:0}
.chbox-left .chbox-input{ margin-top:6.5px}
.chbox-left .chbox-txt{ font-size:18px; margin-top:0}
.form-group-input{ height:27px;}
.form-group-input-pdr-1px{ padding-right:1px}
.form-group-input-pdr-2px{ padding-right:2px}
.form-group-input-pdl-1px{ padding-left:1px}
.form-group-input-pdr-0px{ padding-right:0px;}
.form-group-input-pdl-0px{ padding-left:0px}
.btn-radius-left{ border-radius:5px 0 0 5px; border-right:none}
.btn-radius-right{ border-radius:0 5px 5px 0; border-left:none}
.btn-radius-left{ border-radius:5px 0 0 5px; border-right:#0CC}
.form-group-input-pdr-0px .active{ background:#046EB8; color:#fff}
.form-group-input-pdl-0px .active{ background:#046EB8; color:#fff}
.form-group-input-pdr-1px .active{ background:#046EB8; color:#fff}
.form-group-input-pdl-1px .active{ background:#046EB8; color:#fff}
.form-group-input-pdr-2px .active{ background:#046EB8; color:#fff}
.form-group-input-pdl-2px .active{ background:#046EB8; color:#fff}
.form-group-input-width{ width:100%}
.form-group-center{ text-align:center}
.input-dropdown{ width:30px; background:none; float:left}
.register_form{display:inline-block;margin-bottom:2px;vertical-align:middle}
.tips-txt{font-size:20px; color:#cccS}/*注册登录页*/
/*导驾页*/
.guide{ padding:10px 20px 0}
.guide-lead{font-size:26px;font-weight:300; color:#111;line-height:1.4}
.guide-info-txt{color:#777; font-size:17px}
.pdr-4px{ padding-right:4px;}
.pdl-4px{ padding-left:4px}
.pdr-6px{ padding-right:6px;}
.pdl-6px{ padding-left:6px}
.center_img{text-align:center; padding:0 0 15px;}
/*导驾页*/
/*评论页*/
.comment{ padding:10px 20px 0}
.comment-lead{font-size:26px;font-weight:300; color:#575C60;line-height:1.4}
.comment-info-txt{color:#777; font-size:17px; font-weight:bold}
.comment-bb{border-bottom:2px solid #E6E6E9;  padding-bottom:5px;}
.comment_zan_img{ padding:5px 10px 0 10px; }
.comment_cai_img{padding:5px 10px 0 0px;}
.comment_question{ margin-left:10px;}
/*评论页*/
/*订单详情*/
.indent{padding:10px 20px 0}
.indent .indent_box{background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:5px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
.indent .indent_box{ padding:10px 10%;}
/*订单详情*/
/*签到*/
.sign-box{ background:#fff;min-height:300px;}
.sign-choice{ padding:20px 20% 10px 5px}
.sign-img{ width:80px; margin-top:10px}
.sign-lead{font-size:26px;font-weight:300; color:#111;line-height:1.4}
.sign-bigtxt{}
.sign-txt{color:#777; font-size:14px}
.sign-span-img{width:40px; margin-bottom:5px}
/*签到*/
/*图片信息页*/
.img_wd
    {
    background:url(../images/1.jpg) no-repeat;
    width:100%;height:100%;
    }
	.c_img{position:relative;}
    .c_words{position:absolute;top:35px; left:30px; font-size:40px; color:#FEFFCC}
/*图片信息叶*/
/*用户中心*/
.user{padding:10px 20px 0}
.userbg{background:url(../images/beijing.png)}
.user_conter{padding:20px 0; text-align:center}
.user_conter .top_photo{  width:25%; }
.user_conter .username{ margin:10px 0; font-size:25px; color:#FEFEFE }

.user_list{padding:5px 0;}
.user_list li{ border-bottom:1px solid #3683B7; }
.user_list a{position:relative;height:45px;padding:0px;line-height:45px; display:block; font-size:18px;color:#FFFFFF}
/*.user_list a:after{display:block;content:'\20';position:absolute;top:50%;width:12px;right:10px;height:12px;border-top:1px solid #7d7d7d;border-left:1px solid #7d7d7d;background:none}
.user_list a:after{margin-top:-6px;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}*/
.iconzoe{float:left; width:30px; height:30px; margin:8px 10px 0 0; background:url(../images/myzone.png) no-repeat; background-size:75.2px 305.6px;}
.iconmore{float:right; width:40px; height:32px; right:0px; margin:8px -5px 0 0; background:url(../images/jian.png) no-repeat; background-size:40px 32px;}
.iconzoe_1s{background-position:-20px -30px!important;}
.iconzoe_2s{background-position:-20px -85px!important;}
.iconzoe_3s{background-position:-20px -142px !important}
.iconzoe_4s{background-position:-20px -200px!important;}
.iconzoe_5s{background-position:-20px -255px!important;}
.iconzoe_6s{background-position:-25px -20px!important;}
/*用户中心*/
/*about*/
.about{padding:10px 20px 0}
.aboutbg{background:url(../images/beijing.png)}
.about_conter{padding:20px 0; text-align:center}
.about_list{padding:5px 0;}
.about_list li{ border-bottom:1px solid #E3E3E3; }
.about_list a{position:relative;height:45px;padding:0px;line-height:45px; display:block; font-size:18px;color:#555C62}
.about_list .num{ position:absolute; right:0; margin-right:10px; padding:5px 5px; line-height:30px; font-size:17px; color:#CDCDCF}
.iconabout{float:left; width:30px; height:30px; margin:8px 10px 0 0; background:url(../images/myzone.png) no-repeat; background-size:75.2px 305.6px;}
/*about*/
/*用户详情*/
.informtxt{ font-size:17px; color:#A6A6A8}
/*用户详情*/
/*我的积分*/
.jifen{padding:10px 20px 0}
.jifen .jifen_box{background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:5px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}
.jifen .jifen_box{ padding:0 0; margin-top:20px;}
.jifen_list{padding:0 0;}
.jifen_list li{ border-bottom:1px solid #E3E3E3; padding:0 1%; }
.jifen_list .li_a{position:relative;height:45px;padding:0px;line-height:45px; display:block; font-size:18px;color:#555C62}
.jifen_list .num{ position:absolute; right:6px; margin:0px 10px 5px 0; padding:5px 5px; line-height:20px; font-size:20px; color:#565656}
.jifen_list .numct{ position:absolute; text-align:center; margin-right:10px; padding:5px 5px; line-height:30px; font-size:17px; color:#CDCDCF}
.iconabout{float:left; width:30px; height:30px; margin:8px 10px 0 0; background:url(../images/myzone.png) no-repeat; background-size:75.2px 305.6px;}
.tuijian_img{padding:10px 15px 12.5px 15px; margin-left:-6px;  background:url(../images/btn1.png); background-size:105% 95%; font-family:"Arial Black", Gadget, sans-serif; font-size:20px; color:#565656}
.bow_img{ float:left; width:70px; padding:0 4px; text-align:center; background:url(../images/btn2.png); background-size:100% 100%; font-family:"Arial Black", Gadget, sans-serif}
.key_img{float:left; width:70px; padding:0 4px; text-align:center; height:90%; font-family:"Arial Black", Gadget, sans-serif}
.linetxt{ float:left;margin:0 1%; color:#565656}
.linejuantxt{float:left; text-align:center; width:20%;}
.linejifentxt{float:left; text-align:right; width:25%;}
.duihuan{position:absolute; right:0; margin:10px 10px 0 5px; padding:4px 0 5px 0; text-align:center; line-height:18px; width:60px; font-size:17px; color:#FFFFFF; background:#F00}
/*我的积分*/
/*预约记录*/
/*orderbox*/
.ordbox{ background:#fff; position:relative; }
.ord_list{border-bottom:1px solid #E3E3E3; padding:15px 10px 10px 10px;}
.ord_list .ord_img{display: table-cell; vertical-align: top; width:90px; float:left;}
.ord_info{padding:0 0 0 110px; height:80px;}
.ord_info .title{font-size:20px; margin:5px 0 0 0; line-height:20px; /*max-height:40px;*/height:25px; overflow:hidden; color:#545B61}
.ord_info .ord_price{margin:4px 0 5px 0; height:18px;}
.ord_info .price{float:left;font-size:14px; width:70%;}
.ord_info .ord_y{border:1px solid #1887D6; color:#1887D6; border-radius:6px; padding:1px 5px; margin-right:3px; }

.ord_info .ord_item{font-size:14px; margin-top:1px; margin-right:3px;}
.ords_tit{font-size:14px; font-weight:blod; color:#1183c9;margin:5px 0;}
.ords_item{border:2px solid #b4e0ed; margin:0 0 10px 0; text-align:center;}
.od_r{background:#eaf9ff url(../images/b_repeat.jpg) left top repeat-y; padding:17px 0;}
.od_r .btn{padding: 1px 12px; }
/*预约记录*/
/*试驾记录*/
.sj_refer{padding:15px 20px 0 20px;}
.sj_refer{margin:10px auto 0px; text-align:center;}
.sj_lable{ font-size:16px; color:#999999; background-color:#fff; height:45px; border:1px solid #fff; border-radius:6px; padding:1px 5px; text-align:left; padding:10px 0 0 12px}
.sj_refer .form-group{margin-bottom:20px;}
.sj_refer .form-group .form-control{background-color: #FFFFFF; border-color: #eae1e2; color:#bbb; box-shadow: none; height:45px; font-size:16px;}
.sj_input_img{ background:url(../images/next.png) no-repeat; background-position:right}
/*试驾记录*/
/*品牌信息*/
.brand_info{padding:0 0 0 110px; height:50px;}
.brand_info .title{font-size:20px; margin:30px 0 0 0; line-height:20px; /*max-height:40px;*/height:25px; overflow:hidden; color:#545B61}
.brand_info .ord_price{margin:4px 0 5px 0; height:18px;}
.brand_info .price{float:left;font-size:14px; width:70%;}
.brand_info .ord_y{border:1px solid #1887D6; color:#1887D6; border-radius:6px; padding:1px 5px; margin-right:3px; }
/*品牌信息*/
/*试驾介绍*/
.intro_info{padding:0 0 0 20px; height:40px;}
.intro_info .title{font-size:20px; margin:10px 0 0 0; line-height:20px; /*max-height:40px;*/height:25px; overflow:hidden; color:#545B61}
.intro_info .ord_price{margin:4px 0 5px 0; height:18px;}
.intro_info .price{float:left;font-size:14px; width:70%;}
.intro_info .ord_y{border:1px solid #1887D6; color:#1887D6; border-radius:6px; padding:1px 5px; margin-right:3px; }
/*试驾介绍*/
/*预约成功*/
.yes_txt{font-size:40px; color:#0AC656;}
.yes_img{ margin-right:3px;  margin-bottom:20px;}
.yes_title{font-size:25px; color:#7F7F7F; font-family:"MS Serif", "New York", serif}
.yes_content_txt{font-size:15px; color:#7F7F7F;}
.yes_bt_border{ border-bottom:1px solid #f1e9e9;}
.yuyue_tip_txt{color:#CECECE; font-size:17px;}
.yuyue_content{font-size:20px; color:#9E9E9E; min-height:200px}

.yuyue_list{ padding:15px 10px 10px 10px;}
.yuyue_list .ord_img{display: table-cell; vertical-align: top; width:90px; float:left;}
.yuyue_info{padding:0 0 20px 110px; height:60px;}
.yuyue_info .title{font-size:20px; margin:20px 0 0 0; line-height:20px; /*max-height:40px;*/height:25px; overflow:hidden; color:#545B61}
.yuyue_hd_txt{font-size:20px;}
/*预约成功*/
.maincontainer{min-height: 100%; height: auto !important; height: 100%;  margin: 0 auto; position: relative; padding-bottom:60px;}
.mini-innner,.container{max-width:768px; margin: 0 auto;}
.imgcontainer{max-width:768px; margin:auto}
.minH{min-height:450px}
.b_b{border-bottom:2px solid #d3cacb; padding-bottom:10px;}
/*headbar*/
.headbar{height:45px; top::0;  position:relative; color:#fff; border-bottom:0px solid #0267AD; }
.headbar{background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#5AAAE5), to(#0267AD));/*谷歌*/ }
.headbar{background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5AAAE5), to(#0267AD));      /* Safari 4-5, Chrome 1-9*/ }
.headbar{background:-moz-linear-gradient(top,#5AAAE5,#0267AD);/*火狐*/ }

.headbar{background: -webkit-linear-gradient(top, #5AAAE5, #0267AD);   /*Safari5.1 Chrome 10+*/ }
.headbar .head_left{position:absolute;width:45px;height:45px;top:0; text-align:center; overflow:hidden;}
.headbar .head_righ{position:absolute;width:45px;height:45px;top:0; text-align:center; overflow:hidden; }
.headbar .head_righ{right:0px;}
.headbar .head_left:hover{background:#046EB8; height:43px;}
.headbar .head_righ:hover{background:#046EB8; height:43px;}
.headbar .glyphicon{color:#fff; font-size:25px; margin-top:8px;}
.headbar .title{text-align:center;font-size:20px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important;padding:11px 50px; margin:0;}

/*导航*/
.messageChange {
    width: 150px;
    height: 30px;
    margin: 10px auto 0px;
    line-height: 30px;
    border-radius: 15px;
    overflow: hidden;
}
.messageChange a {
    display: inline-block;
    color: #1BA8DC;
    background: none repeat scroll 0% 0% #3BC4F7;
    width: 75px;
    font-size: 15px;
}
.messageChange a.active{
    background: #13a2d7;
    color: #fff;
}

/*search*/
.search{margin:10px 0 15px; padding:0 20px;}
.top_search .search{margin:0;padding:0;}

.search .search_txt{border-color:#efe5e6; text-align:center; font-size:20px; height:40px; font-family:'\5B8B\4F53'; border-radius:30px;}

.search .search_txt{border-color:#efe5e6;  text-align:center; font-size:20px; height:40px; font-family:'\5B8B\4F53'; border-radius:30px;}

.top_search{padding:10px 0;}
.top_search .head_left,.sear_txt{font-size:20px; line-height:40px;}

/*probox*/
.probox{border-top:2px solid #e9e0e1; background:#fff; position:relative;}
.pro_list{border-bottom:1px solid #fbf9fa; padding:10px;}
.pro_list .pro_img{display: table-cell; vertical-align: top; width:100px; float:left;}
.pro_info{padding-left:110px;}
.pro_info .title{font-size:16px; margin:0; line-height:20px; /*max-height:40px;*/height:40px; overflow:hidden;}
.pro_info .pro_price{margin:5px 0;}
.pro_info .price{color:#ff5d92; font-size:20px;}
.pro_info .pro_y{border:1px solid #ff6999; color:#ff5d92; border-radius:6px; padding:1px 5px;}
.pro_info .pro_item{color:#cfc5c4;}
.pre_tit{font-size:14px; font-weight:blod; color:#1183c9;margin:5px 0;}
.pre_item{border:2px solid #b4e0ed; margin:0 0 10px 0; text-align:center;}
.pr_r{background:#eaf9ff url(../images/b_repeat.jpg) left top repeat-y; padding:17px 0;}
.pr_r .btn{padding: 1px 12px;}

.body_footer{width:100%; height:60px;  position:fixed; left: 0; right:0; bottom:0;}
.body_footer ul{width:100%; background:#83787c;}
.body_footer ul li{width:20%; float:left; line-height:25px; text-align:center;}
.body_footer ul li.active{background:#f57596;}
.body_footer ul li a{display:block; color:#b5b5b5;}
.body_footer ul li .nav_icon{width:32px; height:32px; margin-top:5px;}

/*list*/
.list{padding:5px 0;}
.list li{background:#fff; border-bottom:1px solid #f1e9e9;}
.list a{position:relative;height:45px;padding:0px;line-height:45px; display:block; font-size:18px;}
.list a:after{display:block;content:'\20';position:absolute;top:50%;width:12px;right:10px;height:12px;border-top:1px solid #7d7d7d;border-left:1px solid #7d7d7d;background:none}
.list a:after{margin-top:-6px;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.icons{float:left; width:30px; height:30px; margin:8px 10px 0 0; background:url(../images/icons.png) no-repeat; background-size:30px 808px;}
.icon_1s{background-position:-1px -1px!important;}
.icon_2s{background-position:-1px -38px!important;}
.icon_3s{background-position:-1px -74px !important}
.icon_4s{background-position:-1px -109px!important;}
.icon_5s{background-position:-1px -144px!important;}
.icon_6s{background-position:-1px -180px!important;}

.icon_7s{background-position:4px -145px!important;}
.icon_8s{background-position:5px -174px!important;}
.icon_9s{background-position:5px -200px!important;}
.icon_10s{background-position:5px -228px!important;}
.icon_11s{background-position:0 -386px!important;}
.icon_12s{background-position:-1px -431px!important;}
.icon_13s{background-position:-1px -476px!important;}
.icon_14s{background-position:-1px -520px!important;}
.icon_15s{background-position:-1px -562px!important;}
.icon_16s{background-position:-1px -599px!important;}
.icon_17s{background-position:-1px -644px!important;}
.icon_18s{background-position:-1px -732px!important;}
.list_txt{padding:5px 0;}
.list_txt li{border-top:1px solid #fcf9f9;}
.list_txt li a{padding:10px 20px; display:block; font-size:15px; color:#ff6898;}
.nav_tab{border-bottom:1px solid #e9e1e1;}
.nav_tab li{display: table-cell; float:left; text-align:center;}
.nav_tab li.active{border-bottom:2px solid #ff5d91; margin-bottom:-1px;}
.nav_tab li.active a{color:#ff5d91;}
.nav_tab li a{padding:10px 0; font-size:16px; display:block; text-align:center;}
.nav_tab_list li{border-bottom:1px dashed #ccc; padding-bottom:10px; margin-bottom:10px;}
.nav_tab_list li .tab_img{width:30%; float:left; margin-right:10px;}
.nav_tab_list li .tab_img_3{ width:33%;float:left; left:0;}
.tab_info{color:#2c2c2c; font-size:14px;}
.tab_info h3{font-size:16px; margin:10px 0 0 0; font-weight: bold; height:40px; line-height:20px; overflow:hidden; color:#930007;}
.tab_info .qt{background:#669900; border:1px solid #568e00; color:#fff; font-weight:normal; padding:0 5px;}
.tab2{padding:0 10%;}
.tab2 li{width:50%;}
.tab6{padding:0 4%;}
.tab6 li{width:16.6%;}

.instal{padding:10% 15%;}
.instal_txt{text-align:center; padding:40px 0;}
.info_box{background:#fff; min-height:400px;}
.nav_left{margin:10px -15px;}
.nav_left li{text-align:center; font-size:16px; color:#82777b; position:relative; padding:8px 0;}
.nav_left li.cur{background:#fff; color:#ff5b90; border-left:2px solid #ff5b90;}
.nav_left li.cur a{color:#ff5b90;}
.nav_left li.cur a:after{display:block;content:'\20';position:absolute;top:50%;width:12px;right:6px;height:12px;border-top:1px solid #ff5b90;border-left:1px solid #ff5b90;background:none}
.nav_left li.cur a:after{margin-top:-4px;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.inof_list{padding:5px 0;}
.inof_list li{border-top:1px solid #f2f2f2; padding:10px 0; min-height:80px;}
.inof_list li img{border:1px solid #ebebe9; width:45px;}
.inof_list li h3{font-size:13px; word-break: keep-all; overflow:hidden; margin:0; color:#0100ce;}
.inof_list li p{margin:0; padding-right:45px;}
.contact_list{padding:10px 0 20px;}
.contact_list li{float:left; width:47%; margin:2% 0 0 3%; border:2px solid #d1d1d1; padding:2%;}
.contact_list li:hover{border-color:#ff7170;}
.contact_list li p,.contact_list li .can_txt{height:20px; line-height:20px; overflow:hidden;}
.contact_list .can_name{font-size:14px; font-weight:bold; margin-bottom:4px; word-break: keep-all; overflow:hidden;}
.contact_list .jb{color:#fff; background:#ff4342; padding:0 2px; float:right;}
/*个人中心*/
.set_conter{padding:20px 10px; text-align:center}
.set_conter .set_photo{float:left; width:26%; margin-right:5%;}
/*security*/
.security{margin:30px 0 20px; text-align:center; }
.security .sec_tit{font-size:25px; color:#82777b; margin-bottom:20px;}
.security .sec_tit b{font-size:26px; font-size:800;}
.security li{width:77px; height:77px; margin-left:10px; float:left; background:#faf4f4; border-radius:50%;}
.security li a{display:block;}
.security li a .icons{float:none; display:inline-block; background-color:#fff; border-radius:50%; background-size:20px; margin:10px auto 2px;}

@media (min-width:320px) and (max-width:360px) {
 .tab_info h3{font-size:13px; margin:0;height:20px; line-height:20px;}
 .tab_info p{margin:0; font-size:12px;}
}
@media (min-width:768px){
 .pr_r{padding:50px 0; height: 170px;}
 .pr_r .btn-info{padding:8px 20px; }
 .inof_list li img{width:auto;}
}



